/*   
Theme Name: e-cigarettes
Theme URI: https://github.com/saxap/clean-wp-template
Version: 3.0
Tags: clean, development, html5, bootstrap
Description: Clean wordpress theme with minimal bootstrap3 markup for fast development starting
Author: saxa:p
Author URI: http://dontforget.pro


#2A5A9C - blue
#C4157F - pink
*/




body {
	font: 14px 'Open Sans', sans-serif;
	color: #fff;
	background-image: url('img/background.jpg');
}
li{
	list-style: none;
}
header{
	width: 100%;
	height: auto;
}
a {
	color: #EA1D24;
	text-decoration: underline;
	-webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
a:hover, a:focus {
	color: #800000;
	outline: none;
}
a.dotted {
	border-bottom: 1px dashed #EA1D24;
	text-decoration: none;
}

input[type="number"], input[type="text"], input[type="password"], input[type="email"], textarea {
	color: #000;
	padding: 10px 15px;
	outline: none;
	display: block;
	width: 100%;
	resize: vertical;
}
.form-control:focus{
	border-color: #EA1D24;
}
/** button **/

input[type="submit"], .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	-webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    outline: none;
	background: #F81624;
	font-weight: 100;
	text-transform: uppercase;
	border-radius: 3px;
	line-height: 1;
    cursor: pointer;
    padding: .618em 1em;
    border: none;
}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce a.button.wc-forward, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button {
	background: #F81624;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
}

.woocommerce a.button.alt:hover, .woocommerce a.button.wc-forward:hover, .woocommerce button.button.alt:hover, .woocommerce button.button.alt:focus, .woocommerce input.button:hover {
	background: #EA1D24;
	color: #fff;
	box-shadow: 0px 0px 2px 2px #EA1D24;
}

.woocommerce .quantity .qty {
	width: 5em;
}

.quantity input{
	display: inline-block;
	height: auto;
	padding: 10px;
	border-radius: 5px;
}

.star {
	color: #EA1D24;
}

.close {
	color: #fff;
}

.blue {
	color: #2A5A9C;
}

.pink {
	color: #C4157F;
}

.pink .quantity input, .pink .quantity input:focus {
	border-color: #C4157F;
}
.blue .quantity input, .blue .quantity input:focus {
	border-color: #2A5A9C;
}

.blue .quantity input:focus {
	box-shadow: 0px 0px 2px 2px #2A5A9C;
}

.pink .quantity input:focus {
	box-shadow: 0px 0px 2px 2px #C4157F;
}

.woocommerce button.button.alt.pink {
	background-color: #C4157F;
}
.woocommerce button.button.alt.pink:hover, .woocommerce button.button.alt.pink:focus {
	box-shadow: 0px 0px 2px 2px #C4157F;
}

.woocommerce button.button.alt.blue {
	background-color: #2A5A9C;
}
.woocommerce button.button.alt.blue:hover,.woocommerce button.button.alt.blue:focus {
	box-shadow: 0px 0px 2px 2px #2A5A9C;
}

/** modal **/

.modal-content {
	background: #1E1E1E;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

/** modal maps **/

#modal-maps iframe {
	width: 100%;
	height: 450px;
}


/** woocommerce **/

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px black;
    background: #1E1E1E;
    color: #C0BDB8;
    border: none;
}

/** header **/


header i {
	color: #EA1D24;
}
.favicon{
	font-size: 1.6em;
	margin-right: .7em;
	width: .8em;
}
.contact-info{
	height: 100px;
	overflow-y: visible;
	padding-top: 15px;

}
.contact-info span{	
	line-height: 1.5em;
	color: #D3C3B4;
}


.title {
	font-size: 1.2em;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}
.company-name{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 15px;
	padding-left: 0;
}
.company-name .title{	
	display: block;
	font-size: 1.5em;
	text-transform: none;

}
.company-name .title.other{
	font-family: 'Kaushan Script', cursive;
	font-family: 'Courgette', cursive;
	
}
.company-name .semi-title{	
	display: block;
	font-size: 1.2em;
	font-weight: 500;
}
.company-name span{
	font-size: .8em;
}
header .logo{
	padding-bottom: 15px; 
	padding-left: 15px;
	padding-right: 0;
	text-align: right;
}
header .logo img{	
	width: 100px;
	height: 100px;	
}
.navbar{
	margin-bottom: 0;
}
.navbar-inverse{
	border: none;
	background-color: rgba(0,0,0,.5);
}
.nav{
	padding-left: 40%;
	font-size: 1.4em;
	font-weight: 500;
}

.navbar-inverse .navbar-nav>li:not(:last-child){
	border-right: 1.5px solid #161618;	
}
.nav li>a{
	line-height: 1.5em;
	font-weight: 500;
	
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	text-decoration: none;
}
.navbar-inverse .navbar-nav>.current-menu-item>a, .navbar-inverse .navbar-nav>.current-menu-item>a:focus, .navbar-inverse .navbar-nav>.current-menu-item>a:hover, .navbar-inverse .navbar-nav>li>a:hover{
	color: #9d9d9d;
	background-color: #161618;
	text-decoration: none;
}
/** end of header **/



/** top slider **/
.top-slider .item {
	position: relative;
	width: 100%;	
	height: 450px;	
	overflow: hidden;
}
.top-slider .item img {
	min-width: 100%;
	width: auto;
	height: 450px;
	position: absolute;
	padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);		
}

.top-slider .fa{
	position: absolute;
	cursor: pointer;
	top: 45%;
	font-size: 4em;
	font-weight: 100;
	padding: 5px 15px;
	z-index: 1;
	color: #EA1D24;
}
.top-slider .fa.left{
	left: 20px;
}
.top-slider .fa.right{
	right: 20px;
}
.carousel-control:focus, .carousel-control:hover{
	color: #EA1D24;
}
.carousel-caption{
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 40px 0 40px 250px;
	text-align: justify;	
}
.slick-dots{
	top: 90%;
	bottom: 0;
}
.slick-dots li{
	cursor: pointer;
	width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    border: 1px solid #000;
    overflow: hidden;
}
.slick-dots li.slick-active button{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-color: #EA1D24;
}
.slick-dots li button, .slick-dots li button:before{
	display: none;
	padding: 0;
}
.carousel-caption {
	width: 50%;
}
.line-one{
	font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 1px 2px 0 rgba(0,0,0,.9);
    padding-bottom: 20px;
    color: #EA1D24;
}
.line-two{
	font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-shadow: 1px 2px 0 rgba(0,0,0,.8);
    padding-bottom: 20px;
}
.carousel-indicators{
	position: absolute;
	bottom: 0;
	left: 50%;
}

.dot {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #EA1D24;
}

/** home abous-us **/

.home-abous-us {
	padding: 50px 0;
	line-height: 1.5em;
	font-family: 'Lora', serif;
	font-size: 16px;
}

/** end of top slider **/


/** mini cart **/
.mini-cart{
	position: relative;
}
.widgettitle{
	display: none;
}
.prod-name{
	color: #EA1D24;
	font-style: italic;
	text-transform: uppercase;
	
}
.mini-cart-widget ul{
	padding: 0;
}

.mini-cart-widget li{
	list-style: none;
	line-height: 1.9em;
}
.mini-cart-widget a{
	text-decoration: none;
}
.mini-cart-widget a:hover{
	text-decoration: none;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a{
	display: inline-block;
	text-decoration: none;
	padding-top: 0;
	font-weight: 500;
	font-size: 1em;
}
.woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover{
	text-decoration: none;
}
.variation{
	padding-left: 1.5em;
	color: #D3C3B4;
}
.variation dt{
	font-weight: 500;
}
.back{
	position: fixed;
	z-index: 1;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
}
.mini_cart_item .quantity{
	font-weight: 700;
}
.open-list{
	cursor: pointer;
}
.mini-cart-widget{
	display: none;
	position: absolute;
	background-color: rgba(48,48,48,.95);	
	right: 0;
	z-index: 2;
	border: 3px solid rgba(234,29,36,.7);
	border-radius: 10px;
	padding: 15px;
	width: 250px;
	text-align: left;
	max-height: 500px;
	overflow-y: auto;
}

/** end of mini cart **/

/** single product page **/
.single-page{
	padding: 50px 15px;
}
.single-product-img{
	height: 450px;
	width: 70%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
    box-shadow: 0 0 10px 2px black;
    background: #1E1E1E;
    color: #C0BDB8;
}

.single-product-img img{
	height: 100%;
	width: auto;
	max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.single-product .summary{
	padding: 25px;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px black;
    background: #1E1E1E;
    color: #C0BDB8;
}

.single-product .quantity {
	display: inline-block;
	padding: 1em;
}

.product_title{
	line-height: 1.5em;
	margin-top: 0;
}
.price{
	
	font-size: 1.8em;
	font-weight: 500;
}
.price ins{
	text-decoration: none;
	color: #EA1D24;
}

.quantity input{
	display: inline-block;
	height: auto;
	padding: 10px;
	border-radius: 5px;
	background-color: transparent;
	border: 2px solid rgba(234,29,36,.7);
	color: #fff;
	margin-bottom: 1em;: 
}
.quantity input:focus{
	border: 2px solid rgba(234,29,36,1);
	outline: none;
}

.value div{
	display: inline-block;
	padding:1em 1.5em;
}

table.variations, .variations tbody, .variations tr{
	display: block;
	width: 100%;
}
.variations td{
	display: block;
}
.woocommerce-variation.single_variation .price{
	display: none;
}
.woocommerce-variation-add-to-cart .woocommerce-variation.single_variation .price, .woocommerce-variation.single_variation{
	display: inline-block;
	font-size: 1.2em;
}
.woocommerce-variation.single_variation{
	padding: 1em;
	
}
.woocommerce-message{
	border-top: none;
	background-color: #1E1E1E;
	color: #8fae1b;
}


/** end of single product page **/

/** cart **/

.woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td {
	border-top: none;
}

.woocommerce table.shop_table {
	box-shadow: 0 0 10px 2px black;
	background: #1E1E1E;
	color: #C0BDB8;
	font-size: 14px;
}

.woocommerce table.shop_table tr th {
	font-size: 18px;
	color: #998D77;
    font-weight: 600;
    border-bottom: 1px solid #000;
}

.woocommerce table.shop_table tr td, .woocommerce table.shop_table tr th {
	padding: 10px 15px;
}

.woocommerce table.shop_table tr td:not(:last-child), .woocommerce table.shop_table th:not(:last-child) {
	border-right: 1px solid black;
}

.woocommerce table.shop_table tr:not(:last-child) td {
	border-bottom: 1px solid #000;
}

.woocommerce table.shop_table tr td.product-name, .woocommerce table.shop_table tr td.product-total {
	border-bottom: 1px solid #000;
}


#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	box-shadow: 0 0 10px 2px black;
    background: #1E1E1E;
    color: #C0BDB8;
    font-size: 14px;
}
.woocommerce-cart h2, .woocommerce-checkout h2, .woocommerce-checkout h3 {
	text-align: center;
}

/** footer **/

.footer {
	background: #000;
	padding: 40px 0;
	color: #D3C3B4;
}

.footer .footer-content {
	padding-bottom: 40px;
}

.footer h5 {
	font-size: 1.2em;
	margin: 3px 0;
	color: #fff;
}

.footer-link.logo {
	text-align: center;
}

.footer-link.logo img {
	width: 50%;
	height: auto;
	text-align: center;
}

.footer-link ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-link ul > li:not(:last-child) {
	padding-bottom: 5px;
}

.footer-link ul > li > a {
	color: #D3C3B4;
	text-decoration: none;
}

.footer-link ul > li > a:hover {
	text-decoration: underline;
}

.contact-footer ul {
	list-style: none;
	padding-left: 30px;
}

.contact-footer .fa {
	font-size: 1.2em;
	margin-right: 10px;
}

.contact-footer ul > li > a[href^='tel:'] {
	color: #D3C3B4;
	text-decoration: none;
}

.contact-footer ul > li > a[href^='tel:']:hover {
	color: #D3C3B4;
	text-decoration: underline;
}

.contact-footer ul.social > li {
	display: inline-block;
	border: 1px solid #D3C3B4;
	border-radius: 4px;
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 6px;
}

.contact-footer ul.social > li > a {
	color: #D3C3B4;
}

.contact-footer ul.social > li > a:hover {
	color: #EA1D24;
}

.contact-footer ul.social .fa{
	margin: 0;
}

.footer-bottom {
	padding-top: 40px;
	border-top: 0.5px solid #D3C3B4;
}

.footer-bottom .developer {
	text-align: right;

}

/** product-list **/
.product-list { margin: 20px 0; }
.product-list .product-item .left { text-align: left; float: left; }
.product-list .product-item .right { text-align: right; float: right; }
.product-list .product-item .left, .product-list .product-item .right {
	width: 70%;
}

.product-list .product-item { 
	/** overflow-x: hidden; **/
}

.product-list .product-item .left, .product-list .product-item .right {
	-webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
    padding: 20px;
}
.product-list .product-item .left:hover, .product-list .product-item .right:hover { 
	box-shadow: 0 0 20px 5px black;
	cursor: pointer;
}

.product-list .product-item .img {
	position: relative;
	width: 100%;
	height: 280px;
	overflow: hidden;
}
.product-list .product-item .img img {
	height: auto;
	width: 100%;
	min-height: 100%;
	max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.product-list .product-item .left .title { 
	/** left: -25px; **/
	padding-left: 45px;
	background: #C4157F; 
	/** -webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg); **/
}
.product-list .product-item .right .title {
	/** left: 25px; **/
	padding-right: 45px;
	background: #2A5A9C; 
	/** -webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
	transform: skewX(-25deg); **/
}
.product-list .product-item .left .title, .product-list .product-item .right .title {
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #fff;
}
.product-list .product-item .left .title:before{ 
	left: 20px; 
	/** -webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
	transform: skewX(-25deg); **/
}
.product-list .product-item .right .title:before{ 
	right: 20px;
	/** -webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg); **/
}
.product-list .product-item .title:before {
	position: absolute;
	background: url('img/drop.png') no-repeat;
	display: inline-block;
	width: 12px;
	height: 20px;
	content: '';
}
.product-list .product-item .left .title:after{ 
	right: 20px;
	top: -25px;
	/** -webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
	transform: skewX(-25deg); **/
}
.product-list .product-item .right .title:after{ 
	left: 20px;
	top: -28px;
	/** -webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg); **/
}
.product-list .product-item .title:after {
	position: absolute;
	z-index: 9999999;
	background: url('img/bottel.png') no-repeat;
	display: inline-block;
	width: 21px;
	height: 61px;
	content: '';
	right: 20px;
}

.product-list .product-item .left .title > * {
	display: inline-block;
	/** -webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
	transform: skewX(-25deg); **/
}
.product-list .product-item .right .title > * {
	display: inline-block;
	/** -webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg); **/
}

.product-list .product-item .left .desc { padding-left: 20px; }
.product-list .product-item .right .desc { padding-right: 20px; }
.product-list .product-item .left .desc, .product-list .product-item .right .desc {
	position: relative;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.product-list .product-item .left .desc:before  { left: 0; background: #C4157F; }
.product-list .product-item .right .desc:before { right: 0; background: #2A5A9C; }
.product-list .product-item .desc:before {
	position: absolute;
	content: '';
	width: 7px;
	height: 18px;
	display: inline-block;
}

/** featured home **/
.featuder-product {
	padding-bottom: 20px;
}
.featuder-product-block {
	margin-top: 20px;
}

.featuder-product-block-shadow:hover {
	box-shadow: 0 0 10px 2px black;
}

.featuder-product-block:hover {
	box-shadow: 0 0 -30px 30px black;
}

.featuder-product-block .img img {
	height: auto;
	width: 100%;
	min-height: 100%;
	max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.featuder-product-block .img {
	position: relative;
	height: 250px;
	width: 100%;
	overflow: hidden;
}

.featuder-product-block .img:hover .action {
	opacity: 1;
}

.featuder-product-block .img .action{
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0;
	-webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.featuder-product-block .img .action .cart{
	background: rgba(0, 0, 0, 0.5);
	padding: 18px 15px;
	font-size: 16px;
	text-align: center;
}

.featuder-product-block .img .action .cart a{
	color: #fff;
	text-decoration: none;
}
.featuder-product-block .img .action .cart a:hover{
	color: #C0BDB8;
}

.featuder-product-block .img .action .cart a .loader-icon{
	display: none;
}

.featuder-product-block .img .action .cart a.loading .loader-icon{
	display: inline-block;
}

.featuder-product-block .img .price {
	position: absolute;
	top: 30px;
	left: -15px;
	width: 90%;
	/* background: #C4157F; */
	background: #2A5A9C;
	padding: 10px 35px;
	font-size: 14px;
	-webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg);
}

.featuder-product-block .img .price del {
	color: #EA1D24;
	font-weight: 600;
}

.featuder-product-block .img .price > * {
	display: inline-block;
	-webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
	transform: skewX(-25deg);
}

.featuder-product-block .title {
	text-align: center;
	margin: 10px 0;
}

.featuder-product-block .title a {
	color: #998D77;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
}

.featuder-product-block .title a:hover {
	color: #C0BDB8;
}

.featuder-product-block .desc {
	color: #C0BDB8;
	text-align: justify;
}

.featuder-product-block .content {
	padding: 10px 15px;
	background: #1E1E1E;
}

/** home-description **/
.home-description {
	padding: 30px 0;
}
.home-description .left{
	text-align: left;
	overflow: hidden;
	padding: 0;
}


.home-description .right{
	text-align: right;
	overflow: hidden;
	padding: 0;
}

.home-description .left p{
	padding-left: 20px;
}

.home-description .right p{
	padding-right: 20px;
}

.home-description .right p, .home-description .left p {
	margin: 0;
	position: relative;
	display: block;
}

.home-description .left p:before {
	position: absolute;
	top: 4px;
	left: -1px;
	content: '';
	width: 7px;
	height: 18px;
	background: blue;
	display: inline-block;
	background: #C4157F;
}

.home-description .right p:before {
	position: absolute;
	top: 4px;
	right: 0px;
	content: '';
	width: 7px;
	height: 18px;
	background: #2A5A9C;
	display: inline-block;
}

.home-description .left .cat-block {
	position: relative;
	right: 25px;
	width: 60%;
	-webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg);
	background: #C4157F;
	padding: 10px 0 10px 47px;
}

.home-description .right .cat-block {
	position: relative;
	-webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
	transform: skewX(-25deg);
	background: #2A5A9C;
	right: -42%;
	padding: 10px 46% 10px 47px;
}

.home-description .left .cat-block, .home-description .right .cat-block {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 18px;
}

.home-description .right .cat-block > * {
	display: block;
	-webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg);
}

.home-description .left .cat-block > * {
	display: block;
	-webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
	transform: skewX(-25deg);
}



/**page **/

section.page {
	font-size: 16px;
	padding: 40px 0;
	text-align: justify;
	line-height: 1.5em;
	color: #D3C3B4;
}

.title-page {
	margin: 0 0 20px 0;
    color: #fff;
}

/** contact page **/

.contact-page .info ul{
	list-style: none;
	padding: 0;
}

.contact-page .info ul li{
	padding: 15px 0;
}

.contact-page .info ul li > a[href^='tel:']:hover {
    color: #D3C3B4;
    text-decoration: underline;
}

.contact-page .info ul li > a[href^='tel:'] {
    color: #D3C3B4;
    text-decoration: none;
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

/** Modals **/
.modal.center{
	top: 25%;
}

@media (max-width: 767px){

	/** footer **/
	.footer, .footer-bottom, .footer-bottom .developer { text-align: center; }
	.footer-link { padding-bottom: 40px; }
	.footer-link.logo img { width: 40%; }

	/** featured products **/
	.featuder-product-block .img .action{ opacity: 1; }

	/** home product **/
	.product-list .product-item .left, .product-list .product-item .right { width: 100%; }

	.nav{
		padding-left: 0;
	}
	.nav>li{
		text-align: center;
	}
	header .logo{
		padding-bottom: 0; 
	}
	.mini-cart{
		padding-top: 15px;
		text-align: center;
	}
	.mini-cart-widget{
		position: initial;
		width: 96%;
		margin: 0 2%;
		text-align: center;
	}
	.back{
		display: none;
	}
	.center-sm{
		text-align: center;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.completed-work-block{
		width: 25%;
		min-width: 25%
	}
	.our-service-block {
		width: 23%;
		min-width: 23%
	}
	.carousel-caption{
		padding: 40px 150px;
	}
}
@media (max-width: 991px) and (min-width: 768px){

	/** footer **/
	.footer-link { padding-bottom: 40px; }

	/** home product **/
	.product-list .product-item .left, .product-list .product-item .right { width: 100%; }

	.nav { padding-left: 0; }
	
	.top-slider .item{
		height: 350px;
	}
	.carousel-caption{
		padding: 40px 150px;
	}	
	.line-one{
		font-size: 35px;
		font-weight: 600px;
	}
	.line-two{
		font-size: 20px;
	}
	
}

@media (max-width: 767px) and (min-width: 420px){
	.company-name{
		padding-left: 15px;
	}
	header .logo{
		padding-right: 15px;
		text-align: center;
	}
	.mini-cart{
		margin-bottom: 10px;
	}
	.top-slider .item{
		height: 300px;
	}
	.carousel-caption{
		padding: 20px 80px;
	}	
	.line-one{
		font-size: 25px;
		font-weight: 500px;
	}
	.line-two{
		font-size: 15px;
	}
	
}
@media (max-width: 499px){
	.col-uxs-12{
		width: 100%;
		text-align: center;
		padding-top: 15px;
	}
	
}
@media (max-width: 420px){

	
	.home-slider .item{
		height: 200px;
	}
	.carousel-caption{
		padding: 10px 50px;
	}	
	.line-one{
		font-size: 20px;
		font-weight: 400px;
		padding-bottom: 0;
	}
	.line-two{
		font-size: 13px;
		padding-bottom: 0;
	}	
	header .logo{
		text-align: center;
	}
}
